.nav-content {
    background-color: #2a2a2a;
}
.nav-extended {
    background-color: #2a2a2a;
}

.logo {
    
}

.login-div {
    background-color: #2a2a2a;
    float: right
}
h1 {
    text-align: center;
}